<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../../../static/css/flashcard.css">
    <script src="../../../../static/flip.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>
    <div class="sidebar">
      <div class="logo-details">
       
          <div class="logo_name">Flashcard App</div>
          <i class='bx bx-menu' id="btn" ></i>
      </div>
    </div>

  <section class="home-section">
      <div class="text">Flashcard</div>
      
       <div class="container">
        <div class="card1" onclick="flip(event)">
          <div class="front">
            <h1>QUESTION :</h1>
            <p> {{f1.question}}</p>
          </div>
          <div class="back">
            <h1>{{f1.answer}}</h1>
          </div>
        </div>
        </div>
      <form  class="score_form" method="post" action="/card/{{DI}}/{{i}}/{{SI}}/{{LI}}">
        Easy <input type="radio" name="score" value=5 required>
         Medium <input type="radio" name="score" value=3 required>
         Hard <input type="radio" name="score" value=1 required>
        <br>
        <button class="nxtbtn" type="submit" >NEXT</button>
      </form>
      
    
  </section>
  
  <script>
    
    function openAddForm() {
      document.getElementById("addForm").style.display = "block";
    }
    
    function openDeleteForm() {
      document.getElementById("deleteForm").style.display = "block";
    }

    function openEditForm() {
  document.getElementById("editForm").style.display = "block";
}

function openaddStudentForm() {
  document.getElementById("addStudentForm").style.display = "block";
}

function openassignForm() {
  document.getElementById("assignForm").style.display = "block";
}

function opencreateClassForm() {
  document.getElementById("createClassForm").style.display = "block";
}

    
    function closeForm() {
      document.getElementById("addForm").style.display = "none";
      document.getElementById("deleteForm").style.display = "none";
    }
    
    function closeeditForm() {
        document.getElementById("editForm").style.display = "none";
}

function closeaddStudentForm() {
        document.getElementById("addStudentForm").style.display = "none";
}

function closeassignForm() {
        document.getElementById("assignForm").style.display = "none";
}

function closecreateClassForm() {
        document.getElementById("createClassForm").style.display = "none";
}

    
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");
    
      closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
      });
    
      searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });
    
      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
       }
      }
      </script>
    </body>
    </html>
    